In [1]:
from utils.spark_utils import get_spatial_spark_session

In [5]:
# spark = get_spatial_spark_session()
CENS_STAGING_PATH = "/mnt/c/wsl_transfers/cens_staging"

In [10]:
# !pip install jupyter_contrib_nbextensions
# !jupyter contrib nbextension install --user
!jupyter nbextension enable hinterland/hinterland

Enabling notebook extension hinterland/hinterland...
      - Validating: OK

## Creating ETL for postcode poly, to write into new lad partitions;

In [44]:
import duckdb
from utils.dbutils import sdf_df_from_query

In [59]:
con = duckdb.connect("/home/basal/live_datasets/processed/cens.db", read_only = True)
pc_mapping_pldf = con.execute("select pcd, ltla22cd as lad_cd, oa21cd as oa_cd from pc_to_oa_mapping").pl()
con.close()

In [82]:
pc_mapping_pldf_pdf = pc_mapping_pldf.select([
    pl.col('pcd').str.to_lowercase()\
        .str.replace_all(r"[&,-,(,),:,']", '')\
        .str.replace_all(r'\s', '').alias("area_cd"),
    pl.col('lad_cd'),
    pl.col('oa_cd')
]).to_pandas()

In [90]:
pc_mapping_pldf_pdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2352552 entries, 0 to 2352551
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   area_cd  object
 1   lad_cd   object
 2   oa_cd    object
dtypes: object(3)
memory usage: 53.8+ MB

In [83]:
pc_mapping_sdf = spark.createDataFrame(pc_mapping_pldf_pdf)

/home/basal/envs/dbc1/lib/python3.8/site-packages/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  [(c, t) for (_, c), t in zip(pdf_slice.iteritems(), arrow_types)]

In [85]:
pc_poly = spark.read.parquet(f"/mnt/c/Users/lohith/Downloads/OS_data_sets/processed/postcode_polygons").selectExpr(
        "lower(postcode) as area_cd",
        "ST_FlipCoordinates(postcode_poly_4326) as poly_4326_fc"
    )

In [86]:
pc_mapping_sdf, pc_poly

(DataFrame[area_cd: string, lad_cd: string, oa_cd: string],
 DataFrame[area_cd: string, poly_4326_fc: udt])

## Create GPD

In [2]:
import glob
import os 
import geopandas as gpd
CENS_STAGING_PATH = "/mnt/c/wsl_transfers/cens_staging"

file_list = glob.glob(f"{CENS_STAGING_PATH}/geo_parquets/pc/*")

In [7]:
pc_gpd = gpd.GeoDataFrame(pd.concat(pc_gpd_all, ignore_index=False) )

In [8]:
pc_gpd

                                              poly_4326_fc
area_cd
ts225fz  POLYGON ((-1.33952 54.64778, -1.33950 54.64778...
ts225gh  POLYGON ((-1.35373 54.63985, -1.35406 54.63985...
ts225gt  POLYGON ((-1.34697 54.64573, -1.34677 54.64579...
ts225gt  POLYGON ((-1.34218 54.64627, -1.34218 54.64627...
ts225gu  POLYGON ((-1.34317 54.64570, -1.34319 54.64570...
...                                                    ...
cf484td  POLYGON ((-3.33459 51.67914, -3.33444 51.67917...
cf484tf  POLYGON ((-3.34781 51.69711, -3.34784 51.69711...
cf484tj  POLYGON ((-3.34731 51.70116, -3.34726 51.70146...
cf484tp  POLYGON ((-3.35208 51.71537, -3.35203 51.71532...
cf484ub  POLYGON ((-3.36080 51.72380, -3.36091 51.72390...

[1681351 rows x 1 columns]

In [9]:
# %%timeit
points_series = gpd.read_parquet('/mnt/c/wsl_transfers/cens_staging/gpd_parquets/pc/E06000002.parquet')[:400]['poly_4326_fc'].centroid
points_df = gpd.GeoDataFrame(geometry=gpd.GeoSeries(points_series))

In [10]:
# %%timeit
pc_gpd.sjoin(
    points_df,
    how="right",
    predicate="contains"
)

        index_left                   geometry
area_cd
ts11aa      ts11aa  POINT (-1.24487 54.57578)
ts11af      ts11su  POINT (-1.24018 54.57745)
ts11jh      ts11jh  POINT (-1.23192 54.57655)
ts11jt      ts11jt  POINT (-1.23355 54.57688)
ts11le      ts11le  POINT (-1.23814 54.57665)
...            ...                        ...
ts39es      ts39es  POINT (-1.18295 54.56740)
ts39ex      ts39ex  POINT (-1.18965 54.56442)
ts39ex      ts39ex  POINT (-1.18832 54.56455)
ts39he      ts39he  POINT (-1.17768 54.56610)
ts39hn      ts39hn  POINT (-1.18085 54.56509)

[400 rows x 2 columns]

In [11]:
lad = gpd.read_parquet('/mnt/c/wsl_transfers/cens_staging/gpd_parquets/lad_gpd.parquet')

None

In [25]:
points_series.within(lad['poly_4326_fc'])

/home/basal/envs/dbc1/lib/python3.8/site-packages/geopandas/base.py:31: UserWarning: The indices of the two GeoSeries are different.
  warn("The indices of the two GeoSeries are different.")

area_cd
E06000001    False
E06000002    False
E06000003    False
E06000004    False
E06000005    False
             ...
ts39es       False
ts39ex       False
ts39ex       False
ts39he       False
ts39hn       False
Length: 774, dtype: bool

In [ ]:
points_df = gpd.GeoDataFrame(geometry=gpd.GeoSeries(points_series))

In [ ]:
df = pd.DataFrame({'lon':lon, 'lat':lat})
df['coords'] = list(zip(df['lon'],df['lat']))
df['coords'] = df['coords'].apply(Point)
points = gpd.GeoDataFrame(df, geometry='coords', crs=counties.crs)

In [45]:
import duckdb
con = duckdb.connect("/home/basal/live_datasets/processed/crimeapp.db", read_only = True)
crime_point_index = con.execute("""
select * from crime_point_index_w_oa
where lat is not null or lon is not null
""").df()
con.close()

In [37]:
crime_point_index['coords'] = list(zip(crime_point_index['lon'],crime_point_index['lat']))

In [47]:
crime_point_index['lon']

0         -2.719657
1         -2.719833
2         -2.719139
3         -2.719597
4         -2.721513
             ...
1283046   -3.136300
1283047   -3.146925
1283048   -3.146549
1283049   -3.137128
1283050   -3.135930
Name: lon, Length: 1283051, dtype: float64

In [55]:
import geopandas as gpd
crime_point_index_gpd = gpd.GeoDataFrame(
    crime_point_index, geometry=gpd.points_from_xy(crime_point_index.lon, crime_point_index.lat)
)

In [ ]:
pc_gpd.sjoin(
    crime_point_index_gpd[:1000],
    how="inner",
    predicate="contains"
)